@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #518581;
  --secondary: #DC9968;

  --primary-accent: #518581;
  --foreground-accent: #4a4a4a;
  --hero-background: #F3F3F5;

  --paragraph: #AFADB5;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg p2;

  color: var(--foreground);
  background: var(--background);
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700 !important;
  line-height: 130% !important;
}

h1 {
  font-size: 64px !important;
  letter-spacing: -0.64px !important;
}
h2 {
  font-size: 44px;
  letter-spacing: -0.44px;
}
h3 {
  font-size: 26px;
  letter-spacing: -0.26px;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.24px;
}
h5 {
  font-size: 20px;
  letter-spacing: -0.20px;
}
h6 {
  font-size: 18px;
  letter-spacing: -0.18px;
}

.h6-plus {
  font-size: 14px;
  letter-spacing: -0.14px;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}

/* 添加段落样式 */
@layer components {
  .p1 {
    font-family: "Figtree", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: -0.14px;
  }
  .p2 {
    font-family: "Figtree", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: -0.16px;
  }
  .p3 {
    font-family: "Figtree", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: -0.18px;
  }
  .p4 {
    font-family: "Figtree", serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: -0.12px;
  }
}
